cycler==0.10.0
fonttools==4.38.0
kiwisolver==1.0.1
matplotlib==3.0.3
networkx==2.6.3
numpy==1.16.6
packaging==23.0
pandas==0.24.2
Pillow==5.4.1
plotly==5.13.1
pyparsing==2.3.1
python-dateutil==2.8.2
pytz==2018.9
scipy==1.2.3
six==1.12.0
tenacity==8.2.2
typing_extensions==4.4.0
